.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-item:hover {
    color: #646cff;
}

.active{
    border-bottom: 2px solid #646cff;
}